@import "../../../../styles/color";
@import "../../../../styles/animate";

#mooc-assistant-evaluator {
  user-select: none;
  padding: 24px;

  h2 {
    font-size: 24px;
    border-left: 4px solid @grey;
    line-height: 24px;
    padding: 0 8px;
  }

  textarea {
    resize: none;
    width: 203px;
    height: 80px;
    padding: 8px 12px;
    font-size: 16px;
    background: @white-ef;
    outline: none;
    border: 2px solid @grey-a7;

    &:disabled {
      opacity: 0.4;
    }
  }

  #mooc-assistant-evaluator-panel {
    padding: 10px;

    & > * {
      margin-top: 18px;
    }
  }

  #mooc-assistant-evaluator-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #mooc-assistant-evaluator-controller {
    display: flex;
    justify-content: space-between;

    & > span {
      cursor: pointer;
      font-size: 14px;
      padding: 4px 14px;
      border-radius: 4px;
      color: @white-ef;
      background: @grey;
      transition: opacity .4s ease;

      &:last-child {
        background: @white-e6;
        color: @grey;

      }

      &:hover {
        opacity: .8;
      }

      &.shake {
        animation: shake .4s;
      }
    }
  }
}
